
<table class="table table-hover">
    <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Client</th>
          <th>Line Items</th>
          <th>Created By</th>
          <th>Created On</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices">
          <td>{{invoice.id}}</td>
          <td>{{invoice.invoiceDescription}}</td>
          <td>{{invoice.company.name}}</td>
          <td>{{invoice.lineItems.length}}</td>
          <td>{{invoice.createdBy.username}}</td>
          <td>{{invoice.createdOn}}</td>
        </tr>
      </tbody>
</table>

    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Invoice Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body"> 
              <div class="input-group mb-3">
            <select required type="text" class="form-control"  aria-describedby="basic-addon2" [(ngModel)]="companyId" >
              <option disabled> Select Client</option>
                <option *ngFor="let company of companies" [ngValue]=company.id>{{company.name}}</option>
            </select>
            </div>
            <div class="input-group mb-3">
            <input required [(ngModel)]="newInvoice.invoiceDescription" type="text" class="form-control" placeholder="Invoice Name" aria-label="Billing Records" aria-describedby="basic-addon2">
          </div>
           <div class="input-group mb-3">
              <select required type="text" class="form-control"  aria-describedby="basic-addon2">
                  <option disabled> Select Billing Records</option>
                    <option *ngFor="let record of records">{{record.description}}-- {{record.total}}</option>
    
                </select>
            <!-- <input type="text" class="form-control" placeholder="Billing Records" aria-label="Recipient's username" aria-describedby="basic-addon2"> -->
          </div>
         </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button (click)="submit()" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  <!-- Button trigger modal -->
  
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Add Invoice
  </button>
