
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Add Billing Record 
</button>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Description</th>
      <th scope="col">Client</th>
      <th scope="col">Type</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Testing Billing Records</td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
  </tbody>
</table>
