
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Add Billing Record 
</button>
<table class="table table-hover">
    <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Client</th>
          <th>Type</th>
          <th>Created By</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let billingRecord of billingRecords">
          <td>{{billingRecord.id}}</td>
          <td>{{billingRecord.description}}</td>
          <td>{{billingRecord.client.name}}</td>
          <td>{{(billingRecord.rate && billingRecord.quantity) ? "Rate Based" : "Flat Fee"}}</td>
          <td>{{billingRecord.createdBy.username}}</td>
          <td>{{billingRecord.total}}</td>
        </tr>
      </tbody>
</table>
